#cabecalho{
    background-color: rgb(163, 37, 37);
    width: 1920px;
    height: 140px;
    margin-top: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
#logo{
    width: 150px;
    height: 150px;
    position: relative;
    left: 150px;
}

#foto_doacao{
  display:flex;
  justify-content: center;
  margin: auto;
  border-radius: 20px;
}

#foto{
    background-color:#c1c0c0;
}